* {
  font-family: 'VT323', monospace;
text-align: center;
}

.window-load-page {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base-style{
  margin-left: 30%;
  margin-right: 30%
}

.btn-style {
  margin: auto;
  width: 90px;
  /*this Indie Flower is for Bree! HAHAHA!*/
  font-family: 'Indie Flower', cursive;
  border: 1px solid #ff6b00;
  background: none;
}

.welcome {
  font-family: 'Bungee Shade', cursive;
  font-size: 40pt;
}

#game-wrapper {
  display: none;
}

#game-over {
  display: none;

}

.game-canvas {
  border: 3px solid #ff6b00;
  margin: auto;
  display: block;
}
